
.centre {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 7%;
  height: 7%;
  top: 46.5%;
  left: 46.5%;
}
.hand1 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 7%;
  height: 49%;
  top: 1%;
  left: 46.5%;
  transform-origin: bottom;
  transition-timing-function: linear;
}
.hand2 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 7%;
  height: 49%;
  top: 1%;
  left: 46.5%;
  transform-origin: bottom;
  transition-timing-function: linear;
} 

