html {
  background: #282828;
}
h4 {
  text-align: center;
  color: #fff;
}
a{
  text-decoration: none;
  color: rgb(205, 205, 205);
}
.clock-box {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 30% 10%;
}
.clock-row {
  display: flex;
  justify-content: center;
  padding: 0px;
}
.clock-column {
  display: flex;
  justify-content: center;
}
table {
  display: flex;
  justify-content: center;
}
.clock {
  width: 10%;
  height: auto;
  padding-top: 10%;
  position: relative;
  border: 2px solid #282828;
  box-shadow: -3px -3px 9px rgba(67, 67, 67, 0.5),
    inset 3px 3px 9px rgba(0, 0, 0, 0.5),
    inset -3px -3px 9px rgba(67, 67, 67, 0.5), 3px 3px 9px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 2px;
}
.centre {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 7%;
  height: 7%;
  top: 46.5%;
  left: 46.5%;
}
.hand1 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 7%;
  height: 49%;
  top: 1%;
  left: 46.5%;
  transform-origin: bottom;
  transition-timing-function: linear;
}
.hand2 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 7%;
  height: 49%;
  top: 1%;
  left: 46.5%;
  transform-origin: bottom;
  transition-timing-function: linear;
} 

